@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.map {
    height: 50vh;
    position: relative;
}

.restaurantItem {
    position: relative;
    line-height: 25px;
    font-weight: 300;
    border-top:1px solid rgba(#000, .1);
    padding: 5px 0px;
    .font-weight-400 {
        font-weight: 400;
    }

    .more-btn {
        position: absolute;
        border: 1px solid rgba(#000, .3);
        border-radius: 50px;
        bottom: 10px;
        right: 10px;
        display: block;
        width: 70px;
        text-align: center;
        transition: .3s;
        cursor: pointer;

        &:hover {
            background-color: rgba(#000, .2);
        }
    }

}

.optionArea {
    display: flex;

    .optionItem {
        margin: 5px 15px 5px 0px;
    }
}

.restaurantMenu {
    background-color: #FFF;
    padding	: 10px;
    top: 0px;
}

@media screen and (min-width:800px) {
    .restaurantMenu {
        position: absolute;
        top: 0px;
        min-width: 30%;
    }

    .map {
        height: 100vh;
    }
}